body {
  line-height: 1.5;
  font-family: arial;
  background: url('../images/landscape-jeff.jpg');

  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 650px;
  margin: 40px;
  background: rgba(49,79,79,0.9);
  color: white;
  padding: 15px;
  padding-left: 20px;
  border-radius: 15px;
}

#batman {
position: absolute; 
right: -100px; 
bottom: 10px;
}

#video {
position: absolute; 
right: 30px; 
top: 43px;
}

h1 {
	margin-bottom: -20px;
	font-family: 'Finger Paint', cursive;
}

a{
color: #3498db;
text-decoration: none;
}